* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
  padding-bottom: 0.5rem;
}

p {
  padding-bottom: 0.25rem;
}

img {
  max-width: 100%;
}
