---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="about">
  <Header title="About">
    <p>You have to learn ...</p>
    <p>learn all about Astro!</p>
  </Header>
</Layout>
